src/main/resources/xsd/entry.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Entry">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="content">
                    <xs:annotation>
                        <xs:documentation>строка длиной до 1024 символов</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element type="xs:string" name="creationDate">
                    <xs:annotation>
                        <xs:documentation>дата создания записи</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>